@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  /* colors: https://coolors.co/0a0908-cce3de-eaf4f4-a63d40-577399 */
  background: 
    linear-gradient(to left top, rgba(87, 115, 153, 1) 0%/*bottom-right color*/, rgba(234, 244, 244, 1) 100% /*top-left color*/),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
  text-align: center
}

a:link {
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
